BasedOnStyle: Chromium
BreakBeforeBraces: Allman
ColumnLimit: '90'
IndentWidth: '4'
TabWidth: '4'
AccessModifierOffset: '-4'
UseTab: Never
Cpp11BracedListStyle: 'false'
AllowShortFunctionsOnASingleLine: InlineOnly
KeepEmptyLinesAtTheStartOfBlocks: 'true'
